<!DOCTYPE html>
<html>
    <head>
        <title>PM2 panel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/assets/js/vue.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/assets/css/normalize.css" />
        <link type="text/css" rel="stylesheet" href="/assets/css/milligram.min.css" />
        <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
    </head>
    <body>
        <div class="container" id="app">
            <br />

            <div class="float-right">
                <a id="refresh" class="button button-primary">  Refresh   </a>
                <a href="/logout" class="button">  Logout   </a>
            </div>
            <h2>
                Welcome to PM2 panel  
            </h2>
            <br />
            <pre id="notification">

            </pre>
            <table>
                <thead>
                    <tr>
                        <th>App name </th>
                        <th>ID</th>
                        <th>pid</th>
                        <th>Status</th>
                        <th>Restart</th>
                        <th>Uptime</th>
                        <th>CPU</th>
                        <th>Mem</th>
                        <th> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="process in processes">
                        <td>{{process.name}}</td>
                        <td>{{process.pm_id}}</td>
                        <td>{{process.pid}}</td>
                        <td>{{process.pm2_env.status}}</td>
                        <td>{{process.pm2_env.restart_time}}</td>
                        <td>{{  timing(now - process.pm2_env.pm_uptime)}}</td>
                        <td>{{process.monit.cpu}}</td>
                        <td>{{(process.monit.memory / (1024 * 1024 )).toFixed(2)}} MB</td>
                        <td>
                            <a :href="'/restart?id='+process.pm_id">  
                                [ Restart now ]
                        </a>
                        &nbsp;
                        <a :href="'/delete?id='+process.pm_id" class="delete">  
                            [ Delete ]
                    </a>
                    <a :href="'/stop?id='+process.pm_id" v-if="process.pm2_env.status == 'online'">
                        [ Stop ]
                    </a>
                    <a :href="'/start?id='+process.pm_id" v-else="">
                        [ Start agin ]
                    </a>

                    <a :href="'/log?id='+process.pm_id">  
                        [ log ]
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="9" id="loader">
                <img src="/assets/img/loader.gif" alt="[]" />
            </td>
        </tr>

    </tbody>
</table>
<br />
<br />
<div class="button button-primary" id="frmCrtl">
    Show/Hide add prcocess form
</div>
&nbsp;
&nbsp;
<a href="/dump" class="button"> 
    Save current process
</a>
<br />


<form action="/addProccess" method="POST" class="row" id="addForm">
    <div class="column">
        <label> 
            Task path:
            <input type="text" name="path" v-model="choosedPath" />
        </label>
        <input type="submit" value="Add process now" class="button" />

    </div>
    <div class="column">
        list of files:
        <br />

        (Current path: <b> {{currentDir}} </b>) 

        <ul id="folder-list">
            <li v-for="dir in folders"  >
                {{dir.name}}

                <span v-if="dir.name !== '..'">
                    <a class="button button-small button-outline float-right explore" :href="dir.path+'/'">
                       explore
                </a>

                <a class="button float-right select  button-small button-outline" :href="dir.path">
                    select
                </a>
            </span>
            <span v-else>
                <a class="button float-right  button-small button-outline"  :href="dir.path+'/'" id="back">
                   explore
            </a>
        </span>
        <div class="clearfix"></div>
    </li>
</ul>

</div>

</form>
<a href="https://github.com/4xmen/pm2panel"> PM2 panel copyright &copy; 2017 &nbsp; | &nbsp;&nbsp; A1Gard@4xmen   </a>
<br />
<br />
</div>
<script type="text/javascript">
    function GetData() {
        $.get('/getProccess', function (e) {
            var newDate = new Date();
            if (Array.isArray(e) !== true) {
                // if catch mean is session expired
                location.reload();
                return false;
            }
            vue.processes = e;
            // set now for calcalte uptime
            vue.now = Math.floor(newDate.getTime());
            $("#loader").slideUp(100);
        }).fail(function () {
            alert('Error on get Data: Maybe pm2 not installed, or on runned user has not access to get data.'); // or whatever
            $("#loader").slideUp(100);
        });

        $("#addForm").slideUp(50);
        $.get('/folder', function (e) {
            vue.folders = e;
        });
        $.get('/notification', function (e) {
            if (e !== '-') {
                $("#notification").text(e).slideDown(300);
            }
        });
    }
    var now = 0;
    vue = new Vue({
        el: '#app',
        data: {
            processes: [],
            folders: [],
            now: 0,
            currentDir: '/',
            choosedPath: '',
        },
        methods: {
            timing: function (sec) {
                var date = new Date(null);
                date.setSeconds(Math.floor(sec / 1000)); // specify value for SECONDS here
                return  date.toISOString().substr(11, 8);
            }
        }
    });
    $(function () {
        GetData();
        $("#refresh").click(function () {
            $("#loader").slideDown(100);
            GetData();
        });

        $(document).on('click', ".select", function () {
            vue.choosedPath = $(this).attr('href');
            return false;
        });
        $(document).on('click', ".explore", function () {
            vue.currentDir = $(this).attr('href');
            $.get('/folder', {path: $(this).attr('href')}, function (e) {
                vue.folders = e;
            });
            return false;
        });
        $(document).on('click', "#back", function () {
            vue.currentDir = $(this).attr('href');
            $.get('/folder', {path: $(this).attr('href')}, function (e) {
                vue.folders = e;
            });
            return false;
        });

        $("#frmCrtl").click(function () {
            $("#addForm").slideToggle(300);
        });

        $(document).on('click', '.delete', function () {
            if (!confirm('Are you sure to delete this process ?')) {
                return false;
            }
        });
    });
</script>
</body>
</html>
