body{
    background: #eee ;
}
#login{
    background: #fff ;
    width: 400px;
    margin: 10vh auto;
    padding: 1em;
    border-radius: 5px;
}

#login h1{
    font-size: 33px;
    background: blueviolet ;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.container{
    background: #fff ;
}

.delete{
    color: red;
    font-weight: bold;
}

#loader{
    text-align: center;
}

#loader img{
    height: 128px;
}

#folder-list .button.float-right{
    font-size: 8pt;
    margin-left: 4px;
    margin-bottom: 0;
}
#folder-list .button.float-right:hover{
}

#folder-list{
    height: 240px;
    overflow-y: scroll;
}
#folder-list li:nth-child(odd){
    background: #eee ;
}

